<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block title %}{% endblock %}
</head>
<body>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          {% for message in messages %}
              <p>{{ message }}</p>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endwith %}

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}"> 
              SCISSORS
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item" {% block home_active %} {% endblock %}>
                  <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
                </li>
              </ul>

              <ul class="navbar-nav  navbar-right">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{{ url_for('dashboard') }}"> Dashboard</a>
                </li>
              </ul>

              <ul class="navbar-nav  navbar-right">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>
      </header>

      <main class="container-fluid">
        {% block content %}{% endblock %}
      </main>

    <footer class="footer mt-auto py-3">
          <span>2023. All rights reserved.</span>
      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>