<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

  <title>MyShortener - Login</title>
</head>
<body>

  <div class="row details" style="width: 60%; margin-top: 2em;">

    <h1>Welcome Back</h1>

    
	  <form method="POST" class="bg-body rounded">
	  	{{ form.hidden_tag() }}

	  	{{ form.username.label(class="form-label") }}

	  	{{ form.username(class="form-control") }}
	  	<br/>

	  	{{ form.password.label(class="form-label") }}

	  	{{ form.password(class="form-control") }}
	  	<br/>

    
	  	<br/>

	  	{{ form.submit(class="btn btn-primary") }}


	  </form>

    <div class="col-md-12">
      <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a> </p>
    </div>

</div>
  
</body>
</html>